*{
font-family: Arial, sans-serif;
font-size: small;
}
header{
    /* uso de flex en el header */
    display: flex;
    flex-direction: row;
    /* mejoramiento visual de los componentes */
    justify-content: flex-end;
    align-items: center;
}

/* botones en el heater */
.botonheater{
    color: black;
    text-decoration: none;
    margin: 5px;
    width: 50px;
    height: 20px;
   }
/* estilos en el cuerpo */
main{  
    /* uso de las grillas en el cuerpo */
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr 1fr;
}   
/* organizacion de los elementos de las grillas globales*/
#centro{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;    
}
/* generación de la parrilla para el contenido del centro */
#centrointerno{
    display: grid;
    grid-template-columns: 1fr ;
    grid-template-rows: 3fr 0.5fr 1fr ;
}
/* ubicacion de cada uno de los contenidos */
#google{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    justify-self: center;
}
#caja{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    justify-self: center;
}
/* ubicación de este elemento y generación de un flex para colocar los botones */
#botones{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
/* aspectro de los botones */
#botonmain{
    margin: 10px;
    padding: 5px;
    background-color: rgb(214, 202, 202);
    color: black;
    border-radius: 5px;
    text-decoration: none;
    width: 200px;
    font-size: large;
    text-align: center;
}
/* ubicación del boton de whatsapp */
#wapp{
    position: fixed;
    right: 20px;
    bottom: 100px;
}
/* generación de la regilla del footer */
footer{
    padding-left: 20px;
    width: 100%;
    position: fixed;
    left: 0px;
    bottom: 0px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 8fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    background-color: rgb(207, 203, 203);   
 
}
#f1{
    margin-left: 5px;
    grid-column-start: 1;
    grid-column-end: 8;    
}